doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title XYZ Solutions - Login
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
    link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css' integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous')
    style.
      * {
      margin: 0;
      padding: 0;
      }
      .welcome h1 {
      font-size: 1.5rem;
      }
      .welcome p {
      font-size: 1.5rem;
      }
  body
    nav.navbar.navbar-expand-xl.navbar-dark.bg-dark
      a.navbar-brand(href='#') XYZ Solutions
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='http://localhost:3000/users/signup') Sign up
          li.nav-item
            a.nav-link(href='http://localhost:3000/users/login') Login
          li.nav-item
            a.nav-link(href='#') Services
    .container
      .row.mt-5.mb-5.welcome
        .col-md-12
          h1 Landing Page
