<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XYZ Solutions - Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 mt-5">
        <div class="card">
          <h4 class="card-header text-center">Login</h4>
          <div class="card-body">
            <form action="/users/dologin" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control">
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="isAdmin" value="isAdmin">
                <label class="form-check-label" for="isAdmin">Is Admin</label>
              </div>
              <div class="form-group">
                <a href="http://localhost:3000/users/forgotpass" class="float-left">Forgot password?</a>
                <a href="http://localhost:3000/users/signup" class="float-right">Signup here</a>
              </div>
              <div class="form-group pt-5">
                <button type="submit" class="btn btn-primary btn-block" class="form-control">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</body>
</html>