doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title XYZ Solutions - Login
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
    link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css' integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous')
  body
    .container
      .row
        .col-md-4
        .col-md-4.mt-5
          .card
            h4.card-header.text-center Login
            .card-body
              form(action='/users/dologin' method='POST')
                .form-group
                  label(for='email') Email
                  input#email.form-control(type='email' name='email')
                .form-group
                  label(for='password') Password
                  input#password.form-control(type='password' name='password')
                .form-check.form-check-inline
                  input.form-check-input(type='checkbox' name='isAdmin' value='true')
                  label.form-check-label(for='isAdmin') Is Admin
                .form-group.pt-4
                  button.btn.btn-primary.btn-block(type='submit') Login
                .form-group.mt-2
                  a.float-left(href='http://localhost:3000/users/forgotpass') Forgot password? 
                  a.float-left(href='http://localhost:3000/users/signup') Does not have an account? Sign up here                 
                
              
        .col-md-4
