/* for mobile screen */

/* testing media query */
/* body {
    display: none;
} */

/* navbar */
#navbar .container {
    padding:0;
    margin:0;
}
#navbar .logo {
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li {
    float: none;
}

#navbar ul {
    width: 100%;
}

#navbar ul li a {
    margin: 10px 10px;
    padding: 5px;
    border-radius: 5px;
    
}

/* Landing page */

#landingpage {
    background: url('../images/cover.jpg') no-repeat center center/cover;
}

#landingpage * {
    margin-bottom: 30px;;
}

#landingpage .landingpage-content {
    color: white;
    text-align: center;
    padding-top: 270px;
}

/* Company info */

#company-info .info-img {
    display: none;
}

#company-info .info-content {
    float: none;
    text-align: justify;
    width: 100%;
    padding: 50px 15px;
    text-align:center;
}

#company-info .info-content h2 {
    float: none;
}

/* Tiles */

.tile {
    float:none;
    width: 100%
}

/* About us page */

/* about section */

#about-info {
    padding: 20px 10px;
    text-align: center;
    width: 100%;
}

#about-info .info-left {
    float: none;
    width: 100%;
    padding-bottom: 20px;
}

#about-info .info-right {
    float: none;
    width: 100%;
}

#about-info .info-right img {
    margin: auto;
    display: block;
    width: 100%;
}

#testimonials {
    text-align: center;
}

/* Contac us page */

#contact-form {
    height:100vh;
}


