/* Reset Browser Styles */
* {
    margin: 0;
    padding:0;
    /* KB pending */
    box-sizing: border-box; 
}

/* Core styles */
html, body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
}

a {
    text-decoration: none;
    color: #333333;
}

h1, h2, h3, h4 {
    padding-bottom: 5px;
}

p {
    margin: 5px 0px;
}

.container {
    margin: auto;
    max-width: 1280px;
    padding: 0px 20px;
}

.clear {
    clear: both;
}

.py-3 {
    padding: 30px;
}

/* Navbar styling */
#navbar {
    background: #333333;
    /* KB pending */
    overflow: auto;
}

#navbar a {
    color: white;
}

#navbar h1 {
    float: left;
    padding-top: 5px;
    font-size:20px;
}

#navbar ul {
    list-style-type: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    /* KB pending */
    display: block; 
    padding: 5px 20px;
    text-align:center;
}

#navbar ul li a:hover, #navbar ul li a.current {
    background: crimson;
}

/* Landing page styling */
#landingpage {
    background: url('../images/cover.jpg') no-repeat center center/cover;
    height: 700px;
}

#landingpage .landingpage-content {
    color: white;
    text-align: center;
    padding-top: 130px;
}

#landingpage .landingpage-content h1 {
    font-size: 40px;
    line-height: 1.2em;
}

.text-primary {
    color: crimson;
}

.lead {
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 1.7em;;
}

.btn, .btn:visited {
    display: inline-block;
    font-size: 15px;
    color: white;
    background: crimson;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: rgb(255, 0, 51);
}

/* Company info */

#company-info {
    height: 400px;

}

#company-info .info-img {
    float: left;
    width: 50%;
    background: url('../images/office.jpg') no-repeat center center/cover;
    min-height: 100%;
}

#company-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px;
    padding-top: 40px;
}

.bg-dark {
    background: #333333;
    color: white;
}

#company-info .info-content p {
    padding-bottom: 20px;
}

/* Services */

#services {
    padding: 20px 0px;
}

.tile {
    float: left;
    width: 33.33%;
    padding: 30px;
    text-align: center;
}

.tile h3 {
    padding-top: 30px;
}

/* Footer */

#homepage-footer, #contact-footer, #about-footer {
    text-align: center;
    background: #333333;
    color: white;
    font-size: 12px;
    padding: 1px;
}

#contact-footer {
    position: absolute;
    width: 100%;
    bottom:0;
}

/* About us page */

#about-info {
    padding: 50px 0px;
}

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    margin: auto;
    display: block;
    width: 60%;
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 50%;
}

.testimonial {
    padding: 10px 0px;
}

/* Contact form */

#contact-form {
    height: 100%;
}

#contact-form form {
    margin-top: 30px;
}

#contact-form .form-group {
    margin-bottom: 15px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #dddddd;
}

#contact-form input:focus, #contact-form textarea:focus {
    outline: none;
}

#contact-form textarea {
    max-height: 150px;
    max-width: 100%;
}




